

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}




body {
	background: linear-gradient(100deg, #2ca0e4 6.02%, #74c56d 95.62%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #FFFFFF;
}

h4 {
    font-family: Roboto;
    font-style: normal;
    font-size: 30px;
    background: -webkit-linear-gradient(100deg, #2ca0e4 6.02%, #74c56d 95.62%);
    background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h5 {
    font-family: Roboto;
    font-style: normal;
    font-size: 30px;
    background: -webkit-linear-gradient(100deg, #74c56d 6.02%, #2ca0e4 95.62%);
    background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title{
      text-align: center;
      margin: 0 auto 80px;
      position: relative;
      line-height: 60px;
      color: #FFFFFF;
  }

  .title::after{
      content: "";
      background: linear-gradient(238.82deg, #2ca0e4 6.02%, #161616 95.62%);
      height: 5px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left:50%;
      transform: translateX(-50%);
  }



p {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.transparent {
    opacity: 1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #FFFFFF;
} 

.text-gradient { 
    background: linear-gradient(to right, #F555DB, #2CB2FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 0px;
    font-weight: bold;
}


.text-white {
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 0px;
    font-weight: bold;
}

section {
    min-height: 100vh;
    background-color: #000000;
    position: relative;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.s-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.4s;
}

.col-4 img{
    width: 100%;
}

.col-4:hover{
transform: translateY(-8px)
}



.fade-in,
.carousel-fade-custom .carousel-item {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .6s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

#nav_bar {
    border: 0;
    background-color: transparent;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
    height: 30px;
    transition: 0.3s;
    transition-property: height;
}

#nav_bar .navbar-brand {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}

#nav_bar.navbar-fixed {

    background-color: rgba(0, 0, 0);
    margin-top: 0px;
    padding: 20px 0px 20px 35px;
    height: 100px;
}




.nav_links {
    margin: 0;
    float: right;
    margin-right: 40px;
}

.nav_links li {
    display: inline-block;
    margin-top: 4px;
}



.nav_links li a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    padding: 0px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

nav#nav_bar a.navbar-brand .text-img-logo {
    padding-left: 65px;
    width: 100%;
    max-width: 350px;
}

nav#nav_bar a.navbar-brand .top-logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 7%;
}

nav#nav_bar a span {
    display: none;
}

nav#nav_bar.fixed-bottom a.navbar-brand {
    display: none;
}

nav#nav_bar.fixed-bottom.navbar-fixed a.navbar-brand {
    display: block;
}




#promociones {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: -1;
}

#promociones .carousel-indicators {
    position: absolute;
    top: 90%;
    bottom: 0;
    margin: auto;
    height: auto;
    right: 35%;
    left: auto;
    width: auto;

    z-index: 99999;
}

#promociones .carousel-indicators li {
    display: block;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: transparent !important;
    margin-right: 15px;
    z-index: 99999;
}

#promociones .carousel-indicators li.active {
    margin-bottom: 5px;
    background: #b2b0c7 !important;
}

#promociones .promociones_logo img {
    position: absolute;
    left: 66%;
    right: 18%;
    top: 51%;
    bottom: 21.57%;
    max-height: 350px;
    max-width: 350px;
    border-radius: 0px;
}

#promociones img {
    height: 88vh;
}

#promociones .landing_slide_bg {
    object-fit: cover;
}

#promociones_bg {
    opacity: .2;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#promociones_bg.overlay_1 {
    background: linear-gradient(263.34deg, #2CB2FF 5.78%, #F555DB 98.28%) !important;
    opacity: .2;
    z-index: 0;
}

#promociones_bg.overlay_2 {
    background: linear-gradient(54.18deg, #121212 0.35%, rgba(51, 51, 51, 0) 67.83%) !important;
    opacity: .3;
    z-index: 1;
}

#promociones_bg.overlay_3 {
    background: #333333 !important;
    opacity: .5;
    z-index: 2;
}








button.close {
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #FFFFFF !important;
    color: #FFFFFF !important;
    padding: 5px;
    font-weight: normal;
    text-shadow: none;
    opacity: 1;
    margin-left: 20px;
    margin-top: 4px;
    text-transform: uppercase;
}

button.close:hover {
    text-shadow: none;
    opacity: 1 !important;
    text-decoration: underline;
    border-radius: 0;
}

#registro,
#ingresar,
#carrito
{
    color: #FFFFFF;
    margin: 0px auto;
    padding-top: 150px;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

#registro ul,
#ingresar ul,
#carrito ul{
    font-family: Roboto;
    font-size: 18px;
    line-height: 32px;
}

#registro h3,
#registro h2,
#ingresar h3,
#ingresar h2,
#carrito h3,
#carrito h2{
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 3em;
}


 ::-webkit-input-placeholder {
    color: #FFFFFF;
    text-transform: uppercase;
}

 ::-moz-placeholder {
    color: #FFFFFF;
    text-transform: uppercase;
}

 :-ms-input-placeholder {
    color: #FFFFFF;
    text-transform: uppercase;
}

 :-moz-placeholder {
    color: #FFFFFF;
    text-transform: uppercase;
}


@media only screen and (max-width: 600px) {
    

    #promociones {
        height: 87vh;
    }
   
    #nav_bar .navbar-brand {
        font-size: 25px !important;
        padding-left: 15px !important;
    }
    button.navbar-toggler {
        margin-right: 15px !important;
    }
    .nav_links li {
        margin: 0px 15px !important;
    }
    .nav_links li.nav-item a {
        font-size: 24px !important;
    }
    
}

@media only screen and (max-width: 767px) {
   

    #productos .container-fluid.h-100 {
        height: unset !important;
    }
}

@media only screen and (max-width: 991px) {

    .navbar-collapse.collapse.show {
        background: black;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100px;
        z-index: -1;
        transition: .2s;
    }
    p {
        font-size: 16px;
        line-height: 25px;
    }

    h2 {
        font-size: 48px;
        line-height: 54px;
        letter-spacing: 0.06em;
    }
    
    #promociones .carousel-indicators {
        display: none;
    }
    #promociones img {
        object-fit: cover;
    }
    nav#nav_bar a span {
        display: block;
    }
    nav#nav_bar a.navbar-brand img {
        display: none;
    }
    nav#nav_bar.fixed-bottom {
        display: none;
    }
    nav#nav_bar.fixed-bottom.navbar-fixed {
        display: flex;
    }
    #nav_bar .navbar-brand {
        font-size: 30px;
        padding-left: 20px;
    }
    #nav_bar.navbar-fixed {
        padding: 0px;
    }
    #nav_bar {
        margin-left: 0px;
    }
    button.navbar-toggler {
        margin-right: 20px;
    }
    #navbarSupportedContent,
    .nav_links {
        height: 100vh;
        width: 100%;
        overflow: auto;
    }
    .nav_links {
        background: linear-gradient(238.82deg, #2CB2FF 6.02%, #F555DB 95.62%);
        margin-right: 0px;
    }
    .nav_links li {
        height: 25%;
        border-bottom: 1px solid #FFF;
        margin: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav_links a {
        font-size: 40px !important;
        font-weight: bold;
        line-height: 45px;
    }
}

@media only screen and (max-width: 1350px) {

    .nav_links li a {
        font-size: 14px;
        letter-spacing: 0.1em;
    }
}

@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .navbar.fixed-bottom {
        margin-bottom: -50px  !important;
    }

    p {
        font-size: 16px;
        line-height: 25px;
    }
   
    h2 {
        font-size: 48px;
        line-height: 54px;
        letter-spacing: 0.06em;
    }


    
    #promociones .carousel-indicators {
        display: none;
    }
    #promociones img {
        object-fit: cover;
    }
}

@media only screen and (min-width: 992px) {
    .nav_links li a {
        padding: 0px 0px;
    }

    .navbar.fixed-bottom.navbar-fixed li.nav-item:hover a:after {
        content: "";
        background: linear-gradient(238.82deg, #2ca0e4 6.02%, #161616 95.62%);
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -5px;
    }


    .navbar li.nav-item:hover a {
        border-bottom: 3px solid #ffffff;
        margin-bottom: -3px;
    }
    .navbar.fixed-bottom.navbar-fixed li.nav-item:hover a {
        border-bottom: 0;
        margin-bottom: 0px;
    }
    .navbar.fixed-bottom.navbar-fixed .nav_links li,
    .navbar .nav_links li {
        margin: 0px 20px;
    }
}

.carr-p{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.carr-1{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff523b;
    font-size:12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.btn-warning{
    background: linear-gradient(to right, #F555DB, #2CB2FF) !important;
    background-clip: text !important;
}

